ACCOUNT_SID=
AUTH_TOKEN=
TWILIO_NUMBER=+1XXXXXXXXXX
DOCTOR_NAME=Dr. Alipour
AUTO_REPLY=false

GOOGLE_CLIENT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_IMPERSONATED_USER=authorized-user@yourdomain.com
EMAIL_TO=patientmessages@yourdomain.com
